.swiper {
  width: $container-lg;

  .swiper-wrapper {
    margin-bottom: 4rem; // For space between swiper and pagination bullets

    .swiper-slide {
      @include gradientBackground;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      cursor: default;
      font-size: 0.9rem;

      p {
        margin-bottom: 1.5rem;
      }

      .patient {
        display: flex;
        align-items: center;
        gap: 1rem;
        .avatar {
          width: 2.5rem;
          aspect-ratio: 1/1; // sets a preferred aspect ratio for the box, which will be used in the calculation of auto sizes and some other layout functions.
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background: $primary-color;
  }
}

/**********************************/
/* MEDIA QUERIES (SMALL DEVICES) */
/**********************************/

@media screen and (max-width: 600px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
      }
    }
  }
}
